<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScoreSystem</key>
	<array>
		<dict>
			<key>Score</key>
			<integer>30</integer>
			<key>Double</key>
			<integer>60</integer>
			<key>Face</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Score</key>
			<integer>80</integer>
			<key>Double</key>
			<integer>160</integer>
			<key>Face</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Score</key>
			<integer>150</integer>
			<key>Double</key>
			<integer>300</integer>
			<key>Face</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Score</key>
			<integer>240</integer>
			<key>Double</key>
			<integer>480</integer>
			<key>Face</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Score</key>
			<integer>350</integer>
			<key>Double</key>
			<integer>700</integer>
			<key>Face</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Score</key>
			<integer>480</integer>
			<key>Double</key>
			<integer>960</integer>
			<key>Face</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>Levels</key>
	<array>
		<dict>
			<key>possibilities</key>
			<integer>2</integer>
			<key>targetScore</key>
			<integer>165</integer>
			<key>levelSpeed</key>
			<real>0.5</real>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>3</integer>
			<key>targetScore</key>
			<integer>520</integer>
			<key>levelSpeed</key>
			<real>0.26</real>
			<key>level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>4</integer>
			<key>targetScore</key>
			<real>1125</real>
			<key>levelSpeed</key>
			<real>0.18</real>
			<key>level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>4</integer>
			<key>targetScore</key>
			<real>2040</real>
			<key>levelSpeed</key>
			<real>0.14</real>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>5</integer>
			<key>targetScore</key>
			<real>3325</real>
			<key>levelSpeed</key>
			<real>0.116</real>
			<key>level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>5</integer>
			<key>targetScore</key>
			<real>4490</real>
			<key>levelSpeed</key>
			<real>0.106</real>
			<key>level</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<real>5990</real>
			<key>levelSpeed</key>
			<real>0.1</real>
			<key>level</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<real>7650</real>
			<key>levelSpeed</key>
			<real>0.089</real>
			<key>level</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<real>9300</real>
			<key>levelSpeed</key>
			<real>0.08</real>
			<key>level</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<real>10975</real>
			<key>levelSpeed</key>
			<real>0.068</real>
			<key>level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>12650</integer>
			<key>levelSpeed</key>
			<real>0.063</real>
			<key>level</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>14325</integer>
			<key>levelSpeed</key>
			<real>0.06</real>
			<key>level</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<real>16000</real>
			<key>levelSpeed</key>
			<real>0.057</real>
			<key>level</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<real>17675</real>
			<key>levelSpeed</key>
			<real>0.054</real>
			<key>level</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>19350</integer>
			<key>levelSpeed</key>
			<real>0.05</real>
			<key>level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>19350</integer>
			<key>levelSpeed</key>
			<real>0.05</real>
			<key>level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>19350</integer>
			<key>levelSpeed</key>
			<real>0.05</real>
			<key>level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>19350</integer>
			<key>levelSpeed</key>
			<real>0.05</real>
			<key>level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>19350</integer>
			<key>levelSpeed</key>
			<real>0.05</real>
			<key>level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>possibilities</key>
			<integer>6</integer>
			<key>targetScore</key>
			<integer>19350</integer>
			<key>levelSpeed</key>
			<real>0.05</real>
			<key>level</key>
			<integer>15</integer>
		</dict>
	</array>
</dict>
</plist>
